RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^image/(\d+)_(\d+)_(\d+)\.png /image.php [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ /index.php [L]